.filter {
    height: 100vh;
    width: 100vw;
    background: var(--tg-theme-button-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.filter.active{
    opacity: 1;
    pointer-events: all;
}

.popup{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0,5);
    transition: 0.4s all;
    width: 80vw;
}

.popup.active{
    transform: scale(0.5);
}